@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Idfy demo</h1>
    
</div>

<div class="row">
    <div class="col-md-10">
        <p>RequestId: @ViewBag.RequestId</p>
        <iframe src="@ViewBag.Url" style="border: 0px; width: 100%; height: 600px;" scrolling="no"></iframe>
    </div>
    
</div>