@model dynamic

@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success</h2>

<pre>@Html.Raw(ViewBag.Json)</pre>

<a href="@ViewBag.DownloadLink" target="_blank" class="btn btn-primary">Download signed PDF</a>